/*Import fonts*/
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
@font-face {
  font-family: EdwardianScriptITC;
  src: url("/font/edwardianscriptitc.ttf"); }
/*Main things*/


body {
  font-family: 'Noto Serif', serif;
  color: black;
  background-image: url("https://files.catbox.moe/h3x5eq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  background-attachment: fixed; }

#main {
  border: 2px solid black;
  margin-right: auto;
  margin-left: auto;
  width: 800px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 70px;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden; }

#header {
  width: 800px;
}

.header_left {
  float: left;}

.header_right {
  float: right;}

.titleBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 50px;
  overflow: hidden;
  background-color: #333;
  margin-bottom: 25px; }
  .titleBar li {
    font-size: 30px;
    height: 50px;
    line-height: 50px; }
    .titleBar li :hover {
      background-color: #111; }
    .titleBar li a {
      display: block;
      color: white;
      text-align: center;
      padding: 0px 15px;
      text-decoration: none; }
      .titleBar li a .icon {
        width: 40px;
        height: 40px;
        margin: 5px;
        border-radius: 10px; }
  .titleBar li.active {
    background-color: red !important; }
    .titleBar li.active :hover {
      background-color: red !important; }

h1 {
  display: block;
  font-size: 50px;
  font-weight: bold;
  font-family: EdwardianScriptITC, serif; }

h4 {
  font-size: 20px;
  text-align: center;
  font-weight: bold; }

h5 {
  font-size: 15px;
  font-weight: bold; }

p {
  font-size: 15px;}



#rotating-item-wrapper {
  position: relative;
  float: left;
  width: 350px;
  height: 350px;
  margin-left: 20px;
  margin-top: 50px;
  display: block; }
  #rotating-item-wrapper #rotateimg {
    object-fit: cover;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 10px; }

.rotating-item {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover; }


.two_col_container {
  padding: 0px;
  margin: 0px;
}

.left {
  float: left;
  width: 380px;
  margin: 10px;
  display: block;}

.right {
  float: right;
  width: 380px;
  margin: 10px;
  display: block;}

.center {
  float: center;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;}

iframe.center {
  margin: 0 120px !important; }

.newsicon {
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 10px; }

.fug {
  width: 800px;
  padding-top: 220px;
}
.centerflex{
  display: flex;
  align-items: center;
}
.videogrid{
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 320px 320px;
  margin: 0 auto;
}
.videogrid h4{
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
}

.videolink {
  display: block;
  height: 180px;
  width: 320px;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow:
   -1px -1px 2px #000,  
    1px -1px 2px #000,
    -1px 1px 2px #000,
     1px 1px 2px #000;
  padding: 10px;
  text-align: left;
  filter: grayscale(100%);
}