---
title: Videos
layout: default
cat: videos
---
<div class="centerflex">
	<div class="videogrid">
		<h4>Commentary</h4>
		{%for post in site.posts%}{%if post.cat =="videos" and post.cat2=="commentary"%}
		<a class="videolink" href="{{post.url}}" style="background: url(https://img.youtube.com/vi/{{post.ytid}}/mqdefault.jpg);">{{post.title | truncate:35}}</a>
		{%endif%}
		{%endfor%}
		<h4>Interviews</h4>
		{%for post in site.posts%}{%if post.cat =="videos" and post.cat2=="interview"%}
		<a class="videolink" href="{{post.url}}" style="background: url(https://img.youtube.com/vi/{{post.ytid}}/mqdefault.jpg);">{{post.title | truncate:35}}</a>
		{%endif%}
		{%endfor%}
		<h4>Piano</h4>
		{%for post in site.posts%}{%if post.cat =="videos" and post.cat2=="piano"%}
		<a class="videolink" href="{{post.url}}" style="background: url(https://img.youtube.com/vi/{{post.ytid}}/mqdefault.jpg);">{{post.title | truncate:35}}</a>
		{%endif%}
		{%endfor%}	
	</div>
</div>